td.U-col {
    background-color: rgb(220,233,245);
}

td.F-col {
    background-color: rgb(250,226,213);
}

td.I-col {
    background-color: rgb(253,240,203);
}

td.Total {
background-color: rgba(189, 250, 228, 0.7);
}
.fromDate {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 10px;
}
.toDate {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 10px;
}

#done {
    margin: 10px 20px 20px 20px;
}

#chartStage {
    margin-top: 20px;
}