td.U-col {
    background-color: rgb(220,233,245);
}

td.F-col {
    background-color: rgb(250,226,213);
}

td.I-col {
    background-color: rgb(253,240,203);
}

td.Total {
background-color: rgba(189, 250, 228, 0.7);
}